version: '3.8'

services:
  db:
    image: postgres:17-alpine # use latest official postgres version
    container_name: "postgres"
    stdin_open: true
    tty: true
    restart: always
    environment:
      POSTGRES_PASSWORD: matchanalyzer
      POSTGRES_DB: matchanalyzer
      POSTGRES_USER: matchanalyzer
    volumes:
      # - ./server/backup:/var/lib/postgresql/data # persist data even if container shuts down
      - postgresql_data:/var/lib/postgresql/data # persist data even if container shuts down in a volume
      - ./server/resources/matchanalyzer-pg.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - ma_backend
  adminer:
    image: adminer
    container_name: "adminer"
    restart: always
    ports:
      - 2222:8080
    networks:
      - ma_backend
  matchanalyzer:
    image: ghcr.io/${{ github.repository }}/matchanalyzer:latest
    container_name: "matchanalyzer"
    restart: always
    stdin_open: true
    tty: true
    depends_on:
      - db
    environment:
      PMA_HOST: db
    ports:
      - "9009:9000"
    networks:
      - ma_backend
networks:
  ma_backend:
volumes:
  postgresql_data:
