version: '3.8'

services:
  mysql:
    image: mariadb:latest
    container_name: "mysql"
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - ./server/resources:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_USER: 'matchanalyzer'
      MYSQL_PASSWORD: 'matchanalyzer'
      MYSQL_DATABASE: 'matchanalyzer'
    networks:
      - ma_backend
  adminer:
    image: adminer
    restart: always
    ports:
      - 8009:8080
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: "phpmyadmin"
    stdin_open: true
    tty: true
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "1111:80"
    networks:
      - ma_backend
  matchanalyzer:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        environment: "raspy"
    container_name: "matchanalyzer"
    restart: always
    stdin_open: true
    tty: true
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "9009:9000"
    networks:
      - ma_backend
networks:
  ma_backend:
